canvas {
    width: 100%;
    background: black;

}


body, html{
    height: 100%;
    margin: 0;
    background-color: black;
}

p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0;
    
}